/*Banner */
.banner_section{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin: 50px;
    height: 300px;
  }
  
  .banner{
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    justify-items: center;
    align-items: center;
    background-image: url("/public/img/NY-Year_Egypt_1170x400_6357.jpg");
    background-position: center;
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 40px;
  }
  
  .text_banner{
    color: #213cdc;
    font-size: 30px;
    font-weight: bold;
  }
  
  .text_banner span{
    color: #fff;
  }
  
  .banner_btn{
    width: 250px;
    height: 63px;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: #005bbf;
    display: inline-block;
    line-height: 43px;
    position: relative;
    cursor: pointer;
    padding: 0px 20px;
    border: 1px solid #005bbf;
    text-decoration: none;
    border-radius: 4px;
  }
  .banner_btn:hover{
    background: #005bbf;
    color: #fff;
  }
  
  .banner_btn:active{
    background: #005bbf;
    color: #fff;
  }
  /*Banner end */